kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ template "spark-hs.name" . }}-config
data:
  spark-defaults.conf: |-
    spark.authenticate=false
    spark.history.fs.eventLog.rolling.maxFilesToRetain=5
    spark.hadoop.fs.s3a.path.style.access=true
    spark.hadoop.fs.s3a.block.size=512M
    spark.hadoop.fs.s3a.buffer.dir=${hadoop.tmp.dir}/s3a
    spark.hadoop.fs.s3a.committer.magic.enabled=false
    spark.hadoop.fs.s3a.committer.name=directory
    spark.hadoop.fs.s3a.committer.staging.abort.pending.uploads=true
    spark.hadoop.fs.s3a.committer.staging.conflict-mode=append
    spark.hadoop.fs.s3a.committer.staging.tmp.path=/tmp/staging
    spark.hadoop.fs.s3a.committer.staging.unique-filenames=true
    spark.hadoop.fs.s3a.committer.threads=2048
    spark.hadoop.fs.s3a.connection.establish.timeout=5000
    spark.hadoop.fs.s3a.connection.maximum=8192
    spark.hadoop.fs.s3a.connection.timeout=200000
    spark.hadoop.fs.s3a.fast.upload.active.blocks=2048
    spark.hadoop.fs.s3a.fast.upload.buffer=disk
    spark.hadoop.fs.s3a.fast.upload=true
    spark.hadoop.fs.s3a.max.total.tasks=2048
    spark.hadoop.fs.s3a.multipart.size=512M
    spark.hadoop.fs.s3a.multipart.threshold=512M
    spark.hadoop.fs.s3a.socket.recv.buffer=65536
    spark.hadoop.fs.s3a.socket.send.buffer=65536
    spark.hadoop.fs.s3a.threads.max=2048
    {{- if .Values.secrets.keystoreFile }}
    spark.ssl.historyServer.port={{ .Values.service.internalPort }}
    spark.ssl.historyServer.enabled=true
    spark.ssl.historyServer.protocol=TLSv1.2
    spark.ssl.historyServer.keyStore=/mnt/secrets/keystore.jks
    spark.ssl.historyServer.keyStorePassword={{ .Values.secrets.keystorePassword }}
    spark.ssl.historyServer.keyStoreType=JKS
    {{- end }}
    {{- if .Values.secrets.truststoreFile }}
    spark.ssl.historyServer.trustStore=/mnt/secrets/truststore.jks
    spark.ssl.historyServer.trustStorePassword={{ .Values.secrets.truststorePassword }}
    spark.ssl.historyServer.trustStoreType=JKS
    {{ end }}

